<article class="personas-callout">
  <% DemoMode.callout_personas.each do |persona| %>
    <section class="<%= persona.css_class%>">
      <figure><%= instance_eval(&persona.icon) %></figure>
      <hr/>
      <h2><%= persona.name.to_s.titleize %></h2>
      <ul>
        <% persona.features.each do |feature| %>
          <li><%= feature %></li>
        <% end %>
      </ul>
      <%= form_for @session, html: { id: persona.name.to_s.underscore } do |f| %>
        <%= render 'variant_dropdown', f: f, persona: persona %>
        <%= f.hidden_field :persona_name, value: persona.name %>
        <%= f.submit 'Sign In' %>
      <% end %>
    </section>
  <% end %>
</article>

<% if DemoMode.standard_personas.any? %>
  <article>
    <section>
      <input type="text" placeholder="Search..." data-table="persona-table" data-behavior="table-filter" />
    </section>
    <section>
      <table class="persona-table">
        <thead>
          <tr>
            <th></th>
            <th>Persona name</th>
            <th>Variant</th>
            <th>Features</th>
          </tr>
        </thead>
        <tbody>
          <% DemoMode.standard_personas.each do |persona| %>
            <tr class="<%= persona.css_class %>">
              <td>
                <%= form_for @session, html: { id: persona.name.to_s.underscore } do |f| %>
                  <%= f.hidden_field :persona_name, value: persona.name %>
                  <%= f.submit 'Sign In', class: 'secondary small' %>
                  <% @f = f %>
                <% end %>
              </td>
              <td><%= persona.name.to_s.titleize %></td>
              <td>
                <%= render 'variant_dropdown', f: @f, persona: persona %>
              </td>
              <td><%= persona.features.join(", ") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </article>
<% end %>
